body {
    text-align: center; 
}

h1 {
    color: blueviolet; 
}

h2 {
    color: rgb(231, 10, 197)
}
img{
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    height: 40%;
    width: 40%;
}
